<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KGMIPiPK</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/zondicon.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>  
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white shadow-sm mb-3">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img src="~/icon.png" width="30" height="30" class="d-inline-block align-top" alt="" />
                    KGMIPiPK
                </a>

                @if (User.Identity.IsAuthenticated)
                {

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1 justify-content-end">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Студенты</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Lextures" asp-action="Index">Занятия</a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                                    Прочее
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item disabled" href="#" >Мед учреждения</a>
                                    <a class="dropdown-item" asp-controller="Posts" asp-action="Index">Должности</a>
                                    <a class="dropdown-item" asp-controller="Heads" asp-action="Index">Руководящие должности</a>
                                    <a class="dropdown-item disabled" href="#" disabled>Курсы - Группы</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-controller="Cycles" asp-action="Index">Циклы</a>
                                    <a class="dropdown-item" asp-controller="Topics" asp-action="Index">Темы</a>
                                    <a class="dropdown-item" asp-controller="Teachers" asp-action="Index">Преподаватели</a>
                                    <a class="dropdown-item disabled" href="#" disabled>Списки групп</a>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Выход</a>
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - KGMIPiPK
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
    <script id="__bs_script__">
        //<![CDATA[
        document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.26.7'><\/script>".replace("HOST", location.hostname));
//]]></script>
</body>
</html>