@model KGMIPiPK.Models.LoginModel

@{
    ViewData["Title"] = "Auth Page";
}


    <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
        <div class="validation" asp-validation-summary="ModelOnly" />
        <div>
            <div class="form-group">
                <label asp-for="Login">Введите Логин</label>
                <input  class = "form-control" type="text" asp-for="Login" />
                <span class = "text-danger"  asp-validation-for="Login" />
            </div>
            <div class="form-group">
                <label asp-for="Password">Введите пароль</label>
                <input class = "form-control" asp-for="Password" />
                <span class = "text-danger" asp-validation-for="Password" />
            </div>
            <div class="form-group">
                <input type="submit" value="Войти" class="btn btn-dark" />
            </div>
        </div>
    </form>
