@model IEnumerable<KGMIPiPK.Lextures>

@{
    ViewData["Title"] = "Index";
}

<div id="app"></div>

@section scripts {
    <script src="~/dist/lextures.js"></script>
    <script>
        lextures.run(@Json.Serialize(ViewBag.init));
    </script>
}