@model KGMIPiPK.Lextures

    <form asp-action="Edit">
        <h4>
            <a class="icon" asp-action="Index"><i class="zi-arrow-thin-left"></i></a>
            <input type="submit" value="Сохранить" class="btn btn-outline-dark float-right" />
        </h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Nom" />
        <div class="form-row">
            <div class="col">
                <label for="Group" class="control-label">Группа</label>
                <select asp-for="Group" class="form-control" asp-items="ViewBag.Group"></select>
            </div>
        </div>

        <div class="form-row">
            <div class="col">
                <label for="Teacher" class="control-label">Преподаватель</label>
                <select asp-for="Teacher" class="form-control" asp-items="ViewBag.Teacher"></select>
            </div>
            <div class="col">
                <label for="Tema" class="control-label">Тема</label>
                <select asp-for="Tema" class="form-control" asp-items="ViewBag.Tema"></select>
            </div>
        </div>

        <div class="form-row">
            <div class="col">
                <label for="Day" class="control-label">Дата</label>
                <input asp-for="Day" class="form-control" />
                <span asp-validation-for="Day" class="text-danger"></span>
            </div>

            <div class="col">
                <label for="Hours" class="control-label">Часов</label>
                <input asp-for="Hours" type="number" class="form-control" />
            </div>
        </div>

        <div class="form-row">
            <div class="col">
                <label for="VidZan" class="control-label">Вид занятий</label>
                <select asp-for="VidZan" class="form-control" asp-items="ViewBag.VidZan"></select>
            </div>
        </div>
    </form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}